.header {

max-height: 88px;
max-width:1440px;
left: 0%;
right: 0%;
top: 0px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
border: solid 1px black;
background-color: var(--gray);
}
.header__logo img{
position: absolute;
margin-left: 24px;
margin-top: 16px;
margin-bottom: 17.98px;
width:139,16px;
height:54,02px;
border-bottom: 16px 1276px 18px 24px;
}
.header__menu ul  {
   display:flex;
   flex-direction: row;
   text-align: left;
   margin: 54px 0px 21px -250px;

}
.header__menu ul li a{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 13px;
text-transform: uppercase;
text-decoration: none;
padding: 15px;
color: #000;
}


.header__cart{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header__card-user{
    margin: 59px 0px 0px 0px;
    width:49px;
    height:28px;
}
.header__card-cart{
    margin: 59px 0px 0px 0px;
    width:37px;
    height:28px;
}
.header__card-userim img{
    margin: 26px 6px 20px 0px; 
    width: 26px,67px;
    height:28,67px;
}
.header__card-bag{
    width:30px;
    height:35px;

}
.header__card-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    
}

