.moreinfo{
    width: 100%;
    min-height: 982px;
}
.moreinfo .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
}

.moreinfo-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.moreinfo-top__image{
    width:516px;
    height: 386px;
    border-radius: 20px;
    margin: 0px 16px 16px 16px
}

.moreinfo-top__info{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width:511px;
    height: 300px;
}
.moreinfo-top__info-title{
    width:100%;
    width:180px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-family:  'DM Sans';
}
.moreinfo-top__info .description{
    width:510px;
    height: 160px;
    font-size: 26px;
    line-height: 40px;
    font-family: 'Roboto';
}
.moreinfo-top__info .botton{
    width:256px;
    height: 58px;
}
.top-star img{
    
    position: relative;
    transform:translateX(250%);
    z-index: -1;
    margin: -90px;
}
.moreinfo-botton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.moreinfo-botton__info{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width:511px;
    height: 300px;
}
.moreinfo__botton-title{
    width:100%;
    width:146px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-family:  'DM Sans';
}
.moreinfo-botton__info .description{
    width:500px;
    height: 200px;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Roboto';
}
.moreinfo-botton__info .button{
    width:240px;
  height: 50px;
}


.moreinfo-botton__image img{
    width:516px;
    height: 516px;
    border-radius: 20px;
    margin: 0px 16px 16px 16px;
}
.botton-star img{
    position: relative;
    margin-bottom: -195px;
     transform:translateX(-70%);
    z-index: -1 ;
}



