.Shoppastry{
Width:1440px;
Height: 673px;
width: 100%;

}
.Shoppastry__title{
    
    display: flex;
    justify-content: center;
    font-size: 25px;
    line-height: 35px;
}
.Shoppastry__items{
    Width:1440px;
    Height:1497px; 
   
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  align-content:flex-start;
 

}
.Shoppastry__item-img{
height: 420px;
width: 420px;
border-radius: 20px;

padding: 25px;
}
.Shoppastry__item-title{
    display: flex;
    align-items:flex-start;
    margin-left: 25px;
    font-size:  27px;
    font:'Roboto';
}
.Shoppastry__item-description{
    align-items:flex-start;
    margin-left: 25px;
    font-size:  20px;
    font:'DM Sans';
}
.Shoppastry__button{
    margin-left: 25px;
}




@media (max-width: 992px){

}
   

@media (max-width: 768px) {
 .Shoppastry__title{
    margin-top: 170px;
        font-size: 20px;
      line-height: 55px;
    }
 .Shoppastry__item{
     margin-top: 0px;
     margin-left: 25px;
     display: flex;
     flex-direction: column;
     align-items: center;
    }
 
    
}
@media (max-width: 576px) {
    .Shoppastry__item{
        display: flex;
     flex-direction: column;
    }
}