@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');


:root{
 --font-dm-sans:'DM Sans',sans-serif;   
 --font-roboto:'Roboto',sans-serif;
 --accent:  #0126DE;
 --gray: #F5EDE7;
 --xxl:1320px;
 --xl:1320px;
 --lg:960px;
 --md:720px;
 --sm:540px;
 
}
body {
font-family: var(--font-dm-sans);
color:#000000;
background-color: var(--gray);

}
.wrapper{
    width: var(--xxl);
    margin:0, auto;
}
@media (max-width: 1400px){
    .wrapper{
        max-width: var(--xl);
    }
}
@media (max-width: 1200px){
    .wrapper{
        max-width: var(--lg);
    }
}
@media (max-width: 992px){
    .wrapper{
        max-width: var(--md);
    }
}
@media (max-width: 768px){
    .wrapper{
        max-width: var(--sm);
    }
}
@media (max-width: 576px){
    .wrapper{
        max-width: 100%;
    }
}