.threepicture{
    width: 100%;
}
.threepicture__item{
  border: 1px solid black;
 
 
  
}
.threepicture__item-img{
    height: 410px;
 width: 272px;
border-radius: 20px;
}
.threepicture__item-title{
    font-size: 20px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;

line-height: 69px;
    
}
.threepicture__item-description{
    margin-top: 15px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
