.About__Us-title
    font-family: Noto Serif
    font-style: normal
    font-weight: 800
    font-size: 30px
    line-height: 50px
    text-align: center
    color: #2C2C2C
    width: 100%
    img
        position: absolute
        z-index: -2
        transform: translateY(-30%)
        margin-left: -10%
.About__Us-left-block
    position: relative
    width: 320px
    height: 510px
    border: 1px solid black 

.center__block-user 
    width: 560px
    position: relative
    
    img
    position: relative
    width: 80px;
    height: 80px;
    display: inline
    margin-top: 30px
.center__block-title
    margin-left: 20px
    &h
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000
    p
        font-family: Product Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #FF715B
    
        margin-top: -40px
.About__Us-center-block
    position: absolute;
    width: 640px;
    height: 510px;
    
.About__Us-center
    display: flex
    flex-direction: row
    justify-content: center

.center__block-text
    p
        width: 570px
        height: 171px
        font-family: Product Sans
        
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #A79997;
.center__block-input
    display: flex
    flex-direction: row
    justify-content: center
    color: #C4C4C4
    &:hover
    color: rgba(255, 113, 91, 1)
        

.About__Us-center-block
    position: relative
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-evenly
    align-items: center
    border-top-style: 2px solid #FF715B
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);
.pink__elipse
    position: absolute
    z-index: -1
    transform: translateY(100%)
    margin-right: -100%
    
.About__Us-right-block
    border: 1px solid black
    position: relative
    width: 320px
    height: 510px
    
    
.About__Us-block-info
    position: relative
    display: flex
    flex-direction: row


    


    



         
    
    


      