.blockCards-block
    display: flex
    flex-direction: column
    flex-item-wrap: wrap
    
    align-content: center
    justify-content: space-evenly
    align-items: center
    background-color: #F8F8F8
    margin-top: 100px
    
    width: 250px
    height: 250px
    &:hover
        background-color: #FFFFFF
        box-shadow: 0px 10px 10px 5px
        rgba(247, 247, 247, 0.904)
        



.blockCards-image
    
    width: 128px
    height: 128px
    
    


.blockCards-title
    width: 235px
    height: 33px
    font-family: Noto Serif
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 33px
    color: $bg-color_1
.blockCards-text
    font-family: Product Sans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 26px
    color: $bg-color_2
    p  
        text-align: center

.blockCards-item
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: center
    align-content: flex-end

@media (max-width: 576px)
    .blockCards-block
        display: flex
        flex: column
        display: block
    .blockCards-block
        display: flex
        flex-direction: column
        align-content: center
        align-items: center
		


