.firstSection__slider
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    align-content: center
.firstSection__image-navigate
    i
        font-size: 40px
        line-height: 25px
        cursor: pointer
        background:white
        color: rgba(255, 113, 91, 1)
        margin-left: 10px
        

    i:hover
        color: red
.firstSection__slider-line
    width: 130px
    height: 0px
    border: 1px solid rgba(255, 113, 91, 1)
    background-color: rgba(255, 113, 91, 1)   
    display: flex
    flex-direction: row
    margin-left: 35px

.firstSection__slider-number
    font-size: 24px
    font-height: 32px
    color: rgba(255, 113, 91, 1)
    margin-left: 35px

.firstSection__slider-info
    p
        font-size: 16px
        line-height: 19px
        margin-bottom: 20px
        color: rgba(167, 153, 151, 1)
    select
        color: rgba(255, 113, 91, 1)

.firstSection__info-button
    button
        color: rgba(255, 255, 255, 1)
        background-color: rgba(255, 113, 91, 1)
        width: 195px
        height: 64px
        border: 0px

.firstSection__slider-info
    display: flex
    flex-direction: row
    width: 925px
    height: 120px
    justify-content: space-around
    flex-wrap: wrap
    align-items: center
    background-color: #FFFFFF
    box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2)
    z-index: 1
    

.firstSection__conteiner
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 30px
    align-items: flex-end

@media (max-width: 1400px)
    .firstSection__image-navigate
        display: flex
        flex-direction: row 


@media (max-width: 992px)
	.firstSection__image-navigate
    display: flex
    flex-direction: row          
        
    .firstSection__info-button
        button
            margin-top: 50px
            width: 100px
            height: 32px

@media (max-width: 768px)
	.firstSection__slider
		display: none

        
        


    
   