.footer__footer
    width: 1300px
    height:  300px
     
    margin-top: 750px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center

    

.footer__logo
    width: 390px
    height:  300px
    
    span, p, 
        font-family: Product Sans;
        color: #A79997;
        font-size: 18px;
        line-height: 26px;
        display: block 
        
    img
        display: block
    span
        margin-left: 15px    
    display: flex 
    flex-direction: column
    justify-content: space-around
    margin-left: 100px

.Phone, .mail, .union
    display: flex
    flex-direction: row
.logo
    display: block
    
    width: 200px;
    height: 60px
.links__title
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    color: #000000;
.links__list
    li
        font-family: Product Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 42px;
        color: #A79997;
        margin-left: -10px
  

        &:hover
            color: #FF715B
            cursor: pointer
    ul
        list-style-type: none

        
        
.links__link
    display: flex
    flex-direction: column
    margin-left: 30px

.text-field__input 
    display: block
    margin-top: 60px
    width: 300px;
    height: 50px;
    background: #F8F8F8;
    border: 1px solid #F5EBE9;
    box-sizing: border-box;
.newsletrer_btn
    display: block
    margin-top: 20px
    p
    text-align: center
.newsletter
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-start
    margin-left: 40px
.links__block
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
.Copyright
    span
    display: block
    font-family: Product Sans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 26px
    text-align: center
    color: #A79997
    margin-top: 80px
    margin-bottom: 30px
.red
    span
    color:#FF715B

@media (max-width: 1200px)
    .Copyright
        text-align: center


        
    
    

        

    