@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
.wrapper
    width: 100%
    padding: 0px 10px
    margin: 0 120px
   
.header__header
    display: flex
    align-content: center
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    width: 1400px
    height: 120px
    align-content: center
    margin: 0px 120px
    margin-left: -10px
    

.header 
    width: 1400px
    min-height: 120px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0 120px
    background: white

    
    
.header__logo 
    position: relative
    display: flex
    align-items: flex-end
    align-items: center
    flex-direction: row
    flex-wrap: wrap
    align-content: center
img
    position: absolute
    width: 47px
    height: 45px
    size: 50px
    object-position: left
    
.header__logo-text
             
p
    
    width: 19px 
    height: 22px
    font-size: 30px
    color: inherit 
    margin-left: 50px 
                    
.header__center
    display: flex
    flex-direction: wrap
    flex-wrap: wrap
    align-items: center
    margin: 0px 144px
    
    
ul
    display: flex
    flex-direction: wrap
    flex-wrap: wrap
    align-items: center
li
    margin-right: 30px
li not(:last-child)
    
a   
    color:  rgba(44, 44, 44, 1)
    font-family: Noto Serif
    font-style: Regular
    font-size: 18px
    line-height: 25px
    display: flex
    flex-wrap: wrap

.header__cart 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between 
    align-content: center 
    align-items: center

.header__card-user
    margin-right: 15px
span
    font-size: 18px

.search
    margin: 5px 20px 0 20px


    
   