@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
.wrapper 
    width: 100%
    margin: 0 auto
.header 
    width: 1680px
    display: flex
    padding-top: 15px
    margin-left: 25px
    
    
.header__logo  
    display: flex
    flex-direction: wrap
    align-items: flex-end
    align-items: center
    flex-direction: row
    flex-wrap: wrap
    align-content: center
img
    width: 47px
    height: 45px
    size: 50px
            
p
    width: 19px 
    height: 22px
    font-size: 20px  
                    
                    
       