.wrapper
    width: 100%
    padding: 0px 10px
    margin: 0px auto
    
.banner__main-block
    padding: 285px 740px  490px 135px
    position: relative
    
.main-block__image
    img
        width: 1400px
        height: 800px
        top: 0
        left: 0
        object-fit: cover
        z-index: -1
        position: absolute

   
    
.main-block__conteiner
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start;  
    margin-left: 100px
    
    
   
    
    

.main-block__title
    margin-bottom: 
    font-size: 50px
    line-height: 80px
    line-weight: 500px

.main-block__button
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    align-content: center
    width: 200px
    height: 40px
    color: rgba(255, 255, 255, 1)
    background: #FF715B
    margin-top: 40px
    
    
    a 
    
        font-size: 18px
        line-height: 25px
