.TopDestinations__info-block
    width: 385px
    height: 400px

.TopDestinations__title
    font-family: Noto Serif
    font-style: normal
    font-weight: 800
    font-size: 30px
    line-height: 50px
    a
        color: #FF715B
.TopDestinations__text
    p
        font-family: Product Sans
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 22px
        color: $bg-color_2

.TopDestinations__info-block
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: self-start

.TopDestinations__city-block
    width: 250px
    height: 400px
.TopDestinations__city-text
    font-family: Noto Serif
    font-style: normal
    font-weight: bold
    font-size: 28px
    line-height: 38px
    color: #FFFFFF
    padding: 350px 0px 30px 30px
    
        
       

    
    
.TopDestinations__city-image
    img
        
        z-index: -1
        position: absolute


    


        
            