.TopDestinations__info-block
    width: 350px
    height: 400px

.TopDestinations__title
    font-family: Noto Serif
    font-style: normal
    font-weight: 800
    font-size: 30px
    line-height: 50px
    a
        color: #FF715B
.TopDestinations__text
    p
        font-family: Product Sans
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 22px
        color: $bg-color_2

.TopDestinations__info-block
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: self-start

.TopDestinations__city-block
    width: 200px
    height: 400px
    
.TopDestinations__city-text
    font-family: Noto Serif
    font-style: normal
    flex-wrap: wrap
    font-size: 28px
    line-height: 38px
    color: #FFFFFF
    padding: 350px 0px 30px 30px
    
.TopDestinations__city-image
    img
        width: 280px
        height: 400px
        z-index: -1
        position: absolute
        background-image: url ()
    
        
.TopDestinations__card-block
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    width: 80%
    
.purpleblock
    width: 600px
    height: 540px
    background: #F7F7F7
    z-index: -2
    position: absolute
    margin-left: 600px
    transform: translateY(-13%)


.TopDestinations__item
    height: 500px
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin-top: 100px

@media (max-width: 992px)
    .purpleblock
        display: none

    .TopDestinations__item
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around
        align-items: center
        margin: 50px auto

@media (max-width: 768px)
    .TopDestinations__item
        display: flex
        flex-direction: row
        flex-wrap: wrap
        
        justify-content: space-around
        align-items: center
    .blockCards-block
        align-items: center

@media (max-width: 576px)
    .blockCards-block
        align-items: center
    .TopDestinations__item
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-evenly
        align-items: center



    


    
    
   

    


        
            