
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  --primary-color: #4ca1ff;
  --text: #333333;
  --gray: #f8f8f8;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.wrapper {
  max-width: 1190px;
  margin: 0 auto;
}
/* header */
header {
  width: 100%;
}
.headder-wrapper {
  background-color: var(--text);
}
.header__top {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-logo a{
  text-decoration: none;
  color: #fff;
}
.header__top-logo span{
  color: rgba(255, 255, 255, 0.438);
}
.header__top-input {
  min-width: 350px;
  background-color: var(--text);
  color:#fff;
  padding: 5px 10px;
  height: 100%;
  box-sizing: border-box;
  border: none;
}
.header__top-search {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 8px;
  overflow: hidden;
}
.header__top-search::after {
  content: '\f002';
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  font-size: 20px;
  line-height: 22px;
  color:#fff;
  z-index: 2;
}


.header__top-info {
  display: flex;
  color: rgba(255, 255, 255, 0.521);
}
.header__top-info a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out all;
}
.header__top-info a:hover {
  color: var(--primary-color);
}
.header__top-info .accaunt {
  margin-right: 15px;
}
.header__top-info .accaunt i {
  display: inline-block;
  font-style: normal;
  color: #fff;
  margin-right: 5px;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__bottom-menu a {
  text-decoration: none;
  color: var(--text);
  padding: 15px;
}
.header__bottom-menu a:hover {
  text-decoration:underline;
}


.header__cart {
  background-color: #17ac1a;
  padding: 15px;
  color: #fff;
  display: flex;
  min-width: 300px;
}
.header__cart i {
  font-style: normal;
  margin-right: 10px;
}
.header__cart #count_cart {
  margin-right: 5px;
}
 /* btn*/
 .btn{
   border: 1px solid black;
   background-color:gray;
   color: black;
   padding: 10px 20px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   min-width: 175px;
   font-size: 14px;
}
 .btn-darc{
   background-color:black;
   color:#fff;
 }


/* main */
.main {
  display: flex;
}
.main__left {
  width: 25%;
  padding: 15px;
}
.main__right {
  width: 70%;
  padding: 15px;
}
/* sidebar */
.sidebar {
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
}
.sidebar__list {
  list-style: none;
  }
.sidebar__list ul{
  width: 200px; /* Ширина меню */
    list-style: none;
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
    font-size: 15px; /* Размер названий в пункте меню */
}
.sidebar__list li ul{
  position: static; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    margin-right: 120px; /* Сдвигаем подменю вправо */
    margin-right: -2em; /* Сдвигаем подменю в право */
}
.sidebar__list li a{
     display: block; /* Ссылка как блочный элемент */
    padding: 0px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color:gray; /* Цвет текста */
    border: none;/* Рамка вокруг пунктов меню */
    background-color: none;/* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
}
.sidebar__list li a:hover{
  color:#fff; /* Цвет текста активного пункта */
  background-color:var(--primary-color);/* Цвет фона активного пункта */
margin-top: 0%;
}

.sidebar__list li:hover ul{
  display: block; /* При выделении пункта курсором мыши отображается подменю */
   }
   

.sidebar__list li {
  padding: 5px 15px;
  list-style-type: none;
  }
  .sidebar ul li a{
    text-decoration: none;
    color:black;
  }
/* info */
.info__active {
  margin-top: 30px;
  display: flex;
  padding: 20px;
  border: 1px solid grey;
  background-color: purple;
  color:#fff;
  font-size: 18px;
  border-radius: 15px;
}
.info__icon-active{
  color:#fff;
  width: 20%;
}


 /*.info__active:hover {
 background-color: purple;
  color:#fff;*/

.info__service {
  margin-top: 30px;
  display: flex;
  padding: 20px;
  border: 1px solid grey;
  background-color:#fff;
  color:rgb(55, 71, 219);
  font-size: 18px;
  border-radius: 15px;
}
.info__text-title-service{
  color:red;
  font-size: 20px;
  font-weight: 700;
}
.info__icon-service{
  color:red;
  width: 20%;
}
.info__text {
  width: 80%;
}
.info__prise{
  margin-top: 30px;
  display: flex;
  padding: 20px;
  border: 1px solid grey;
  background-color:#fff;
  color:rgb(55, 71, 219);
  font-size: 18px;
  border-radius: 15px;
}
.info__icon-prise{
  color:orangered;
  width: 20%;

}
.info__text-title-prise {
  color: orangered;
  font-size: 20px;
  font-weight: 700;
}
.info__text-description {
  font-weight: 400;
}
.info__delivery{
  margin-top: 30px;
  display: flex;
  padding: 20px;
  border: 1px solid grey;
  background-color:#fff;
  color:rgb(55, 71, 219);
  font-size: 18px;
  border-radius: 15px;

}
.info__icon-delivery{
  color:var(--primary-color);
  width: 20%;
}
.info__text-title-delivery{
  color:var(--primary-color);
font-size: 20px;
font-weight: 700
}

.slider{
  border: 1px solid black;
  min-height: 200px;
}
.main__right-title{
   text-align: right;
   margin-top: 30px;
   color:gray;
   display: flex;
   flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}


.card-list{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.card{
  border: 1px solid rgb(255, 255, 255);
  padding: 15px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  position: relative;
  max-width: 33%;
}
.card:hover{
  border-color:var(--gray);
}

.card_img {
  width: 120px;
  height:160px;
  background-color:none;
}
.card_title{
  font-size: 18px;
  line-height:20px;
  color:gray;

}
.card_prise{
  font-size: 16px;
  line-height:18px;
  color:gray;
}
.card_btn{
  width:100%;
  display: flex;
  flex-direction: column;
  height: 80px;
  position: absolute;
  box-sizing: 0;
  left: 0;
  bottom:0;
}
.card_btn div{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_btn div:nth-child(1){
  background-color:var(--primary-color);
  color:#fff;
}
.card_btn div:nth-child(2){
  background-color:var(--gray);
}

/* product*/



.product_info{
  display: flex;
}
.product_description{
  font-size:  22px;
  line-height: 25px;
  padding: 15px;
}
.product_description-info{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
  margin-top: 15px;
}
.product_description-prise{
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

 .product_description-sail {
   display: flex;
   flex-direction: column;
   margin-top: 15px;
   font-weight:600 ;
   font-size: 15px;
   line-height: 18px;
 }

.product_description-cards{
  display: flex;
  margin-top: 15px;
}
.product_description-cards div{
  border: 1px solid grey;
  margin-right: 15px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
}
.product_description-cards .visa{
  color: orange;
}
.product_description-cards .master{
  color:red
}


.product_description-cartBtn{
  margin-top: 15px;
  display: flex;
}
.product_description-cartBtn .count{
  display:flex;
  flex-direction: column;
  margin-left: 15px;
}
.product_description-cartBtn .count input{ 
  max-width: 95px;
}
.product_description-btn{
  margin-top: 15px;
}


.product_slider {
  width: 50%
}
.product_slider-prewiew{
  border: 1px solid black;
  max-width: -600px;
  min-height: 280px;
}
.product_slider-list{
  display: flex;
  justify-content:space-between;
  margin-top: 10px; 
  overflow-x: auto;
  width: 100;
}

/* slider */
.slider-item{
  border: 1px solid black;
  width:60px;
  height: 41px;
}
.product_review-btn .btn{
  background-color:#fff;
}


.product__review-content table{
  border: 1px solid black;
  width: 740px;
  height:120px;
  border-collapse:collapse;
  align-items:left;
}
.tab-item-active thead th{
  border: 1px solid black;
  background-color:#fff;
  width: 300px;
  align-items:left;
}
.tab-item-active tbody th{
  border: 1px solid black;
  align-items:left;
  height: 30px;
}
.main__right-product{
  text-align: center;
   margin-top: 100px;
   margin-bottom: 60px;
}
.main__right-title{
  text-align: left;
}
.sorting{
  text-align: left;
  display: flex;
 
  
}
/*Page 5*/
.main_page{
  display: flex;
  flex-direction: column;
  margin-left:30px; 
  margin-top: 35px;
  margin-bottom: 50px;
}
  
 .circle ul li{
  
  margin-right: 50px;
  padding-left: 30px;
}
/*Page 4*/

  .main__contacts-title{
  text-align: left;
  margin: 30px;
}

.contacts_info{
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 1450px;
  height: 100px;
  margin: 15px;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main__contacts-title{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contacts_map{
  border: 1px solid grey;
  width: 1450px;
  height: 400px;
  margin: 15px;
  text-align: center;
}
.write_info{
  display: flex;
  flex-direction: column;
  margin: 15px 0px 50px 0px;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.write {
  padding: 5px;
  border-bottom-width: 1px solid black;
 }

.write_info{
  margin-left: 50px;
}
.write_us input{
  margin-right: 30px;
}
.button_2 button{
  margin-top: -30px;
  margin-bottom: 50px;
  margin-left: 50px;
}










footer {/* заголовок футера (айфоносервис)*/
  width: 100%;
  color: #fff; /* цвет текста */
  margin-bottom: 20px;
}
.wrapper2 {/*шапка футера*/
  max-width: 1200px;
  margin: 0 auto;
}
.footer-top {
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  }

.footer__top .text2{
  display:flex;
  flex-direction: column;
  min-width: 500px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.info__phone2 a {
  color: orange;
  display:flex;
  margin-top: 15px;
}


.menu2 ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
 }
.menu2 ul li {
  margin-left: 35px; 
  margin-top: 15px;
}

  .menu2 ul li a {
  color:#fff;
  text-decoration: none;
}
@media (max-width:1200px){
  .wrapper {
    padding-left:15px;
    padding-right: 15px;
  }
}
@media (max-width:900px){
  .header__top{
    flex-wrap: wrap;
    }
    .header__top-logo{
      order:o;
      
    }
    .header__top-search{
      order:2;
      margin-top: 15px;
    }
    .header__top-info{

    }
}